:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}
